<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Weather App">
    <meta property="og:description" content="Weather app for made for Clockwork made with Vue.js, Leaflet and Dark Sky API.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/public/og.jpg">
    <meta name="description" content="Weather app for made for Clockwork made with Vue.js, Leaflet and Dark Sky API.">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>