<template>
    <section class="background-map">
        <l-map
            v-if="showMap"
            :zoom="zoom"
            :center="center"
            :options="mapOptions"
            @update:center="centerUpdate"
            @update:zoom="zoomUpdate"
        >
            <l-tile-layer :url="url" />
        </l-map>
    </section>
</template>

<script>
import { latLng } from "leaflet";
import { LMap, LTileLayer } from "vue2-leaflet";

export default {
    name: "background",
    components: {
        LMap,
        LTileLayer
    },
    data() {
        return {
            zoom: 13,
            center: latLng(52.3493267, 4.8695023),
            url:
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
            currentZoom: 11.5,
            currentCenter: latLng(52.3493267, 4.8695023),
            mapOptions: {
                zoomControl: false,
                dragging: false,
                animate: true,
                duration: 2,
                fadeAnimation: true,
                keyboard: false,
                scrollWheelZoom: false
            },
            showMap: true
        };
    },
    mounted() {
        this.$root.$on("loadMap", (lat, lng) => {
            this.center = latLng(lat - 0.04, lng);
        });
    },
    methods: {
        zoomUpdate(zoom) {
            this.currentZoom = zoom;
        },
        centerUpdate(center) {
            this.currentCenter = center;
        }
    }
};
</script>

<style lang="scss">
.background-map {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
</style>
