<template lang="html">
    <section class="current-weather">
        <div class="card-body">
            <div class="row">
                <div class="col text-left">
                    <h5 class="current-day ">
                        {{ forecast.currently.time | moment("dddd, D MMMM") }}
                    </h5>
                    <p>{{ forecast.currently.summary }}</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md">
                    <div class="card-text text-left">
                        <div class="row align-items-center">
                            <div class="col col-auto pr-0">
                                <figure class="mb-0">
                                    <weather-icon
                                        v-bind:icon="forecast.currently.icon"
                                        class="weather-icon"
                                    ></weather-icon>
                                </figure>
                            </div>
                            <div class="col text-left">
                                <span class="current-temperature">
                                    <number
                                        :from="0"
                                        :to="
                                            forecast.currently.temperature
                                                | round
                                        "
                                        :delay="0"
                                        :duration="0.7"
                                        easing="Power1.easeIn"
                                    />&deg;</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-auto text-left">
                    <div class="card-text">
                        <strong>Neerslagkans: </strong>
                        <number
                            :from="0"
                            :to="
                                forecast.currently.precipProbability
                                    | toPercentage
                            "
                            :delay="0"
                            :duration="0.7"
                            easing="Power1.easeIn"
                        />%
                    </div>
                    <div class="card-text">
                        <strong>Luchtvochtigheid: </strong>
                        <number
                            :from="0"
                            :to="forecast.currently.humidity | toPercentage"
                            :delay="0"
                            :duration="0.7"
                            easing="Power1.easeIn"
                        />%
                    </div>
                    <div class="card-text">
                        <strong>Wind: </strong>
                        <number
                            :from="0"
                            :to="forecast.currently.windSpeed | round"
                            :delay="0"
                            :duration="0.7"
                            easing="Power1.easeIn"
                        />
                        km/u
                    </div>
                </div>
                <div class="col col-auto text-left">
                    <div class="card-text">
                        <strong>Zonsopkomst: </strong
                        >{{
                            timestamp(
                                forecast.daily.data[0].sunriseTime * 1000,
                                forecast.timezone
                            )
                        }}
                    </div>
                    <div class="card-text">
                        <strong>Zonsondergang: </strong
                        >{{
                            timestamp(
                                forecast.daily.data[0].sunsetTime * 1000,
                                forecast.timezone
                            )
                        }}
                    </div>
                    <div class="card-text">
                        <strong>Zicht: </strong>
                        <number
                            :from="0"
                            :to="forecast.currently.visibility * 1000"
                            :delay="0"
                            :duration="0.7"
                            easing="Power1.easeIn"
                        />
                        m
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="js">
import WeatherIcon from "@/components/WeatherIcon";
import moment from 'moment-timezone'

export default  {
    name: 'current-weather',
    components: {
        WeatherIcon
    },
    props: {
        forecast: {
            type: Object
        }
    },
    methods: {
         timestamp (time, zone) {
        return moment(time).tz(zone).format('HH:mm')
      },
    }
}
</script>

<style scoped lang="scss">
.current-temperature {
    font-size: 60px;
    white-space: pre;
    font-weight: bold;
}
.weather-icon {
    max-width: 100px;
}
.current-day {
    text-transform: capitalize;
}
</style>
