<template lang="html">
    <section class="daily-weather px-3">
        <div class="row" :key="componentKey">
            <div
                class="col-3 col-sm-3 col-md p-2 weather-card"
                v-for="(day, index) in forecast.daily.data"
                v-bind:key="index"
            >
                <div class="card bg-light">
                    <div class="card-body p-2">
                        <span class="weekday">{{
                            day.time | moment("dd")
                        }}</span>
                        <figure class="mb-0">
                            <weather-icon
                                v-bind:icon="day.icon"
                                :key="day.icon"
                                class="weather-icon"
                            ></weather-icon>
                        </figure>
                        <span class="max-temp"
                            >{{ day.temperatureHigh | round }}&deg;</span
                        >
                        <span class="min-temp"
                            >{{ day.temperatureLow | round }}&deg;</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="js">
import WeatherIcon from "@/components/WeatherIcon";

export default  {

    name: 'daily-weather',
    components: {
        WeatherIcon
    },
    props: {
        forecast: {
            type: Object
        }
    },
    data() {
        return {
            componentKey: 0,
        };
    },
    methods: {
        forceRerender() {
            this.componentKey += 1;
        }
    }
}
</script>

<style scoped lang="scss">
.weather-card {
    animation: flip 0.8s;

    &:nth-child(2) {
        animation-delay: 0.05s;
    }
    &:nth-child(3) {
        animation-delay: 0.1s;
    }
    &:nth-child(4) {
        animation-delay: 0.15s;
    }
    &:nth-child(5) {
        animation-delay: 0.2s;
    }
    &:nth-child(6) {
        animation-delay: 0.25s;
    }
    &:nth-child(7) {
        animation-delay: 0.3s;
    }
    &:nth-child(8) {
        animation-delay: 0.35s;
    }
}

@keyframes flip {
    from {
        transform: rotateY(90deg);
        opacity: 0.5;
    }

    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.weekday {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.max-temp {
    display: block;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}

.min-temp {
    display: block;
    font-size: 15px;
    color: #666;
}
</style>
