<template>
    <div class="input-group my-3 card bg-light p-3">
        <form @submit="updateLocation" class="w-100">
            <div class="row">
                <div class="col">
                    <input
                        v-model="location"
                        type="text"
                        class="form-control"
                        placeholder="Enter Location"
                        aria-label="Enter location"
                    />
                </div>
                <div class="col col-auto p-0">
                    <button
                        class="btn btn-outline-secondary"
                        type="submit"
                        aria-label="Search location"
                    >
                        <b-icon-search></b-icon-search>
                    </button>
                </div>
                <div class="col col-auto">
                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        @click="getGeoLocation()"
                        aria-label="Get current location"
                    >
                        <b-icon-geo></b-icon-geo>
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import API from "@/lib/API";

export default {
    name: "location-bar",
    data() {
        return {
            location: localStorage.location || ""
        };
    },
    methods: {
        updateLocation(e) {
            e.preventDefault();
            if (this.location != "") {
                localStorage.location = this.location;
                API.getCoordinates(this.location).then(result => {
                    this.$root.$emit(
                        "loadWeather",
                        result.latitude,
                        result.longitude
                    );
                    this.$root.$emit(
                        "loadMap",
                        result.latitude,
                        result.longitude
                    );
                });
            }
        },
        getGeoLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(pos => {
                    this.location = "";
                    this.$root.$emit(
                        "loadWeather",
                        pos.coords.latitude,
                        pos.coords.longitude
                    );
                    this.$root.$emit(
                        "loadMap",
                        pos.coords.latitude,
                        pos.coords.longitude
                    );
                });
            }
        }
    }
};
</script>
