<template lang="html">
    <section class="weather" v-if="forecast">
        <div class="card bg-white-50 mb-3">
            <div class="card-header text-left">
                <h4>{{ address }}</h4>
            </div>
            <current-weather v-bind:forecast="forecast"></current-weather>
        </div>
        <div class="card bg-white mb-3">
            <daily-weather v-bind:forecast="forecast"></daily-weather>
            <div class="card-footer text-center">
                <button
                    class="refresh"
                    title="Refresh"
                    @click="loadWeather(forecast.latitude, forecast.longitude)"
                >
                    <div v-if="forecast.currently">
                        <span
                            >Laatste update:
                            <strong>{{ lastUpdate }}</strong></span
                        >
                        <b-icon-arrow-repeat></b-icon-arrow-repeat>
                    </div>
                </button>
            </div>
        </div>
    </section>
</template>

<script lang="js">
import API from "@/lib/API";
import CurrentWeather from "@/components/CurrentWeather";
import DailyWeather from "@/components/DailyWeather";
import moment from 'moment'

export default  {
    name: 'weather',
    components: {
        CurrentWeather,
        DailyWeather
    },
    data() {
        return {
            location: localStorage.location || "",
            address: localStorage.address || "",
            forecast: null,
            lastUpdate: null
        };
    },
    mounted() {
        this.loadWeather(
            localStorage.lat || "52.3993267",
            localStorage.lng || "4.8695023"
        );
        this.$root.$on("loadWeather", (lat, lng) => {
            this.loadWeather(lat, lng);
        });
    },
    methods: {
        loadWeather(lat, lng) {
            this.forecast = null;
            localStorage.lat = lat;
            localStorage.lng = lng;
            API.getAddress(lat, lng).then(result => {
                this.address = result.name;
                localStorage.address = this.address;
            });
            API.getForecast(lat, lng).then(result => {
                this.forecast = result;
                this.getNow();
            });
        },
        getNow() {
            this.lastUpdate = moment().format('HH:mm');
        }

    }
}
</script>

<style scoped lang="scss">
button.refresh {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-family: inherit;
    line-height: 25px;

    svg {
        fill: #999;
        transition: 0.3s;
        width: 25px;
        height: 25px;
    }

    span {
        display: block;
    }

    &:hover {
        svg {
            transform: rotate(45deg);
        }
    }
}
</style>
