<template>
    <div>
        <skycon
            v-bind:condition="currentIcon"
            :key="componentKey"
            :width="120"
            :height="120"
        />
    </div>
</template>

<script>
export default {
    name: "weather-icon",
    props: ["icon"],
    data() {
        return {
            currentIcon: this.icon,
            componentKey: 0
        };
    },
    methods: {
        forceRerender() {
            this.componentKey += 1;
        }
    },
    watch: {
        icon() {
            this.currentIcon = this.icon;
            this.forceRerender();
        }
    }
};
</script>
