<template>
    <div id="app">
        <main class="home">
            <background></background>
            <div class="overlay"></div>
            <div class="container-md h-100">
                <div class="row h-100">
                    <div class="col-xl-8 col-lg offset-xl-2 my-auto">
                        <div class="row">
                            <div class="col-12">
                                <location-bar></location-bar>
                            </div>
                            <div class="col-12">
                                <weather></weather>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
import LocationBar from "@/components/LocationBar";
import Background from "@/components/Background";
import Weather from "@/components/Weather";

export default {
    name: "app",
    components: {
        LocationBar,
        Background,
        Weather
    }
};
</script>

<style>
html {
    height: 100%;
}
body {
    height: 100%;
}
#app {
    text-align: center;
    height: 100%;
}

canvas {
    width: 100%;
}
.home {
    height: 100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
